@charset "utf-8";
/* course body container */
body {
	background-color: #5d8ddb;
	background-image: url("../svg/bg.svg"), linear-gradient(to bottom, #FFCB5C, #BC4E59);
	background-size: 240px;
	background-repeat: repeat;	
}
p, td {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	text-align: justify;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
	line-height: 1.5em;
}
.container {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #FFF;
	margin-bottom: 50px;
}
.section {
	min-height: 600px;
}
/* course content container */
.box {
	margin-bottom: 20px;
	padding: 30px 15px;
	background: #fff;
	background: rgba(255,255,255,0.9);
}
/* left and right navigation sticky buttons  */
#navbuttons {
	float: right;
	right: 0;
	margin-top: 5px;
	position: fixed;
	top: 85%;
	right: 100px;
	display: inline
}
#navbuttons .navbuttontext {
	float: left
}
.navbutton {
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	background-color: #000;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	padding: 8px 12px;
	color: #fff;
	font-size: 18px
}
/* back to the top sticky button */
.back-to-top [class^=icon-] {
	font-size: 3em
}
.back-to-top {
	position: fixed;
	top: 85%;
	right: 15px;
	display: none;
	text-align: center;
	font: 9px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	background-color: #000;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	padding: 5px 12px;
	color: #fff
}
.back-to-top:hover {
	text-decoration: none
}
.back-to-top a, .back-to-top a:visited {
	color: #fff !important
}
#marketing-spots {
	overflow: hidden
}
#marketing-spots .marketing-spot {
	background: #fff;
	padding: 3px 10px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	margin-bottom: -99999px;
	padding-bottom: 99999px
}
.course-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: #5d8ddb;
	margin: 20px;
	float: right;
	width: 40%;
	text-align: right;
}
.navbar-brand {
	font-size: 15px;
}
#header {
	display: none;
}

/* conditional when other devices screens */
@media screen and (min-width:768px) {
.box {
	margin-bottom: 20px;
	padding: 0px 0px;
	background: #fff;
	background: rgba(255,255,255,0.9);
}
#header {
	display: inline;
}
#header .fao-logo {
	display: inline;
	margin: 20px;
}
.navbar-header {
	display: none;
}
}
 @media screen and (min-width:1200px) {
.box:after {
	content: '';
	display: table;
	clear: both;
}
}
h1 {
  font-size: 1.6em;
  font-weight: Extra-Light;
  color: #5d8ddb;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  line-height:normal;
}
h1 a:link, h1 a:visited {
  color: #069;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
h1 a:hover {
  color: #5897D0;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #5d8ddb;
  text-align: left;
  vertical-align: bottom;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  padding-top: 0px;
  padding-bottom: 3px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-style: normal;
  line-height:normal;
}
h2 a:link, h2 a:visited {
  color: #069;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
h2 a:hover {
  color: #5897D0;
}
h3 {
	font-family: 'Quicksand', sans-serif, Arial, Helvetica;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	color: #5FB49C;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
h4 {
	font-family: 'Quicksand', sans-serif, Arial, Helvetica;
	font-size: 1.2em;
	font-weight: normal;
	color: #5d727d;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	padding-bottom: 4px;
}
h4 a:link, h1 a:visited {
	color: #069;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
h5 {
	font-family:'Quicksand', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	color: #5d8ddb;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-bottom:10px;
	font-style: normal;
	line-height: normal;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	text-align: right;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCC;
	font-style: italic;
	line-height: 1.5em;
	padding: 0px;
	margin-top: 10px;
}
.ad500ms {
  -webkit-animation-delay: 500ms;
}
.ad1s {
  -webkit-animation-delay: 1s;
}
.ad1500ms {
  -webkit-animation-delay: 1500ms;
}
.ad2s {
  -webkit-animation-delay: 2s;
}
.ad2500ms {
  -webkit-animation-delay: 2500ms;
}
.ad3s {
  -webkit-animation-delay: 3s;
}
.ad3500ms {
  -webkit-animation-delay: 3500ms;
}
.ad4s {
  -webkit-animation-delay: 4s;
}
.ad4500ms {
  -webkit-animation-delay: 4500ms;
}
.ad5s {
  -webkit-animation-delay: 5s;
}

.back_destacado {
	background-image: url(../img/img_gen/b_destacado.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.caja_actividad {
	margin:10px;
	padding: 10px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px; 
	-moz-border-radius: 10px 10px 10px 0px;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #00AA00;
	
}
.caja_actividad_off {
	margin: 10px;
	padding: 10px;
	background-color: #F0F0F0;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 10px 10px 10px 0px;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #c6c6c6;
	color: #999;	
}
.caja_actividad_marco {
	text-align:left;
	margin:6px;
	padding: 6px;
	background-color: #FFF;
	border:1px solid #CCC;
	border-radius: 0px 0px 10px 10px; 
	-moz-border-radius: 10px 10px 10px 0px;	
}
.verticalLineIz {
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #999;
	padding-left: 10px;
}

#titulo {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  margin: 20px;
  padding: 0px;
  float: right;
  width: 30%;
  text-align: right;
  color: #009519;
}
#footer {
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 78px;
}
#footer .logos_footer {
  margin: 18px 20px 20px 20px;
  float: left;
}

#navegacion {
  /* margin: 20px; */
  /*padding-bottom:100px;*/

  padding: 0px;
  float: right;
}
#bot_home {
  height: 39px;
  width: 39px;
  display: block;
  float:left;
  margin-right:10px;
}
#bot_home a:link, #bot_home a:visited  {
  height: 39px;
  width: 39px;
  display: block;
  background-image: url(../img/img_gen/bot-home.png);
  background-repeat: no-repeat;
  background-position: left top;
}
#bot_home a:hover  {
  background-image: url(../img/img_gen/bot-home.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
#bot_prev {
  height: 39px;
  width: 39px;
  display: block;
  float:left;
  margin-right:10px;
}
#bot_prev a:link, #bot_prev a:visited  {
  height: 39px;
  width: 39px;
  display: block;
  background-image: url(../img/img_gen/bot-prev.png);
  background-repeat: no-repeat;
  background-position: left top;
}
#bot_prev a:hover  {
  background-image: url(../img/img_gen/bot-prev.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
#bot_next {
  height: 39px;
  width: 39px;
  display: block;
  float:left
}
#bot_next a:link, #bot_next a:visited  {
  height: 39px;
  width: 39px;
  display: block;
  background-image: url(../img/img_gen/bot-next.png);
  background-repeat: no-repeat;
  background-position: left top;
}
#bot_next a:hover  {
  background-image: url(../img/img_gen/bot-next.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

#bot_prev .disabled, #bot_next .disabled{
  display: none !important;
}
.btne{
	transform:scale(0.9);
			-ms-transform:scale(0.9); // IE 9
			-moz-transform:scale(0.9); // Firefox
			-webkit-transform:scale(0.9); // Safari and Chrome
			-o-transform:scale(0.9); // Opera
			-webkit-transition: all 1000ms ease-in-out; // IE 9
			-moz-transition: all 1000ms ease-in-out; // Firefox
			-ms-transition: all 1000ms ease-in-out; // Safari and Chrome
			-o-transition: all 1000ms ease-in-out; // Opera
transition-duration: 0.9s;
transition: 0.9s;

}
.btne:hover {
	transform:scale(1);
-ms-transform:scale(1); // IE 9
-moz-transform:scale(1); // Firefox
-webkit-transform:scale(1); // Safari and Chrome
-o-transform:scale(1); // Opera

}