@charset "utf-8";

.responsive-img {

  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}

.foto_izquierda {
  float: left;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.foto_derecha {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.foto_centro {
	display:block;
	margin:auto;
}

.foto_izq_fuera {
  float: left;
  margin-top: -20px;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: -40px;
}
.foto_der_fuera {
  float: right;
  margin-top: -20px;
  margin-right: -40px;
  margin-bottom: 6px;
  margin-left: 10px;
}

.marco {
  padding: 5px;
  border: solid 1px #cccccc;
}
#ref {
  padding: 0px;
  float: right;
  height: 22px;
  width: 103px;
  margin-top: 6px;
  margin-right: 0px;
  margin-bottom: -6px;
  margin-left: 0px;
}
#ref a:link, #ref a:visited {
  background-image: url(../img/img_gen/referencias.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 22px;
  width: 103px;  
}
#ref a:hover {
margin-top: 2px;
}

/*omar*/
.box_archivos {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_archivos.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 100px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}

.box_nota {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_notas.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 110px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}
.box_ok {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_ok.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 100px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}
.box_sobre {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_sobre.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 100px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}
.box_territorio {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_territorio.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 116px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}


.sombra {
	-webkit-box-shadow: 10px 10px 10px -10px #7A7A7A;
	box-shadow: 10px 10px 10px -10px #7A7A7A;
	border: 1px solid #CCC;
	padding: 6px;
	background-color: #FFF;
}
.rotar_derecha
{
	-ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}

.rotar_izquierda
{
	-ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}

.alert-success h3, .alert-danger h3, .alert-warning h3, .alert-info h3 {
  color: inherit;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger{border-left-color:#ce4844}
.bs-callout-danger h4{color:#ce4844}
.bs-callout-warning{border-left-color:#aa6708}
.bs-callout-warning h4{color:#aa6708}
.bs-callout-info{border-left-color:#1b809e}
.bs-callout-info h4{color:#1b809e}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.5em;
}
.label-unidad {
  background-color: #5d727d;
}
.label-unidad[href]:hover,
.label-unidad[href]:focus {
  background-color: #76878f;
}
.badge {
  background-color: #51a5b4;
}
.shadow {
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
}
.verticalLine {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 20px;
}

.verticalLineTwo {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #999;
}
.caja {
	margin:16px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	
}
.caja p {
	margin-bottom: 0px;
}
.caja-ley {
	margin: 5px;
	padding: 10px;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.20);
	background-image: url(../svg/24-01.svg); 
	background-repeat: no-repeat; 
	background-position: 99% 50%; 
	background-size: 50px; 
	min-height: 60px; 
	padding-right: 60px;
	
}
.caja-ley p {
	font-size: 0.8em;
	margin-bottom: 0px;
	text-align: left;
}
.numero {
	font-family: 'Kalam', cursive;
	font-size: 5em;
	font-weight: 400;
	color: #892410;
	text-align:center;
	vertical-align: bottom;
	width: 100%;
	font-style: normal;
	line-height: normal;
}
.text_destacado {
	font-size: 1em;
	color: #5FB49C;
	text-align: left;
	line-height: normal;
}
.text_destacado_2 {
	font-family: 'Kalam', cursive;
	font-size: 2.5em;
	font-weight: 400;
	color: #5FB49C;
	text-align:center;
	vertical-align: bottom;
	width: 100%;
	font-style: normal;
	line-height: normal;
}
.back_portada {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_gen/back.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 350px;
	background-color: #dff0d8;
}
.back_tomese {
	background-image: url(../img/img_gen/back_tomese.jpg);
	background-repeat: repeat;
	background-position: center center;
}
#rotargear {
		-webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
#rotargear2 {
		-webkit-animation: rotation2 5s infinite linear;
}

@-webkit-keyframes rotation2 {
		from {
				-webkit-transform: rotate(359deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
}
.circulo {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #70aec0;
	border: 2px solid #518594;
	font-weight: bold;
}
.sabias {
	background-color: #f5f5f5;
	background-image: url(../img/img_gen/sombra.png);
	background-repeat: repeat-y;
	background-position: left top;
	min-height: 520px;
	padding-left: 36px;
	padding-top: 36px;
	font-style: italic;
	font-weight: normal;
	color: #52690d;
	font-size: 1.1em;
}
.back_descarga {
	background-image: url(../img/img_gen/back_descarga.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 10px;
	height: 220px;
	text-align: center;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back_pregunta {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/un3_02.jpg);
	background-repeat: repeat-x;
	background-position: center 10px;
}
.linea_base {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
